<div id="about-page" class="rubyclub-page">
  <h1>О клубе</h1>
  
  <p>Каждый четверг в 7 вечера мы собираемся в Кофебоксе (пр. Машерова, 1), чтобы вместе поработать над оупен сорсом, личными проектами, поучиться друг у друга, помочь новичкам.</p>

  <p>Если собираетесь посетить встречу, лучше напишите мне предварительно — <a href="http://vk.com/yukas">vk.com/yukas</a></p>

  <p>Будем рады видеть людей с любым уровнем знаний!</p>

  <p>Ruby — язык программирования, который славиться своей простотой и элегантностью, и в тоже время является мощным и современным средством решения большого круга задач и отлично подходит для веб-разработки.</p>
</div>