// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-article {
  margin-bottom: 20px;
  background: #DFDFDF;
  padding: 15px 20px;
  border-radius: 5px;
  margin-left: -20px;
  width: 102%;
  
  .form-field {
    margin-bottom: 20px;
  }
  
  input[type=text] {
    font-size: 25px;
    width: 100%;
    margin-top: 10px;
  }
  
  textarea {
    font-size: 14px;
    width: 100%;
    height: 100px;
    margin-top: 10px;
  }
}

.article {
  .article-date {
    margin-bottom: 10px;
  }
  
  .article-title {
    font-size: 26px;
    margin-bottom: 34px;
  }
  
  .article-separator {
    display: block;
    margin: 47px auto 80px auto;
  }
}