// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-session-page {
  .form {
    width: 300px;
    margin: 100px auto;
    
    input {
      padding: 4px 5px;
      font-size: 16px;
      margin-top: 7px;
    
      &#email {
        width: 250px;
      }
      
      &#password {
        width: 200px;
      }
    }
  }
}

